{% extends "layout.html" %}

{% block content %}
<div class="index-content">
    <div class="title-of-page"><p>{{ message }}</p></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolorum voluptatem necessitatibus dicta pariatur libero, beatae minus odio sit? Alias mollitia beatae inventore minima aliquid neque consectetur soluta, doloremque dolore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolorum voluptatem necessitatibus dicta pariatur libero, beatae minus odio sit? Alias mollitia beatae inventore minima aliquid neque consectetur soluta, doloremque dolore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolorum voluptatem necessitatibus dicta pariatur libero, beatae minus odio sit? Alias mollitia beatae inventore minima aliquid neque consectetur soluta, doloremque dolore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolorum voluptatem necessitatibus dicta pariatur libero, beatae minus odio sit? Alias mollitia beatae inventore minima aliquid neque consectetur soluta, doloremque dolore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolorum voluptatem necessitatibus dicta pariatur libero, beatae minus odio sit? Alias mollitia beatae inventore minima aliquid neque consectetur soluta, doloremque dolore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolorum voluptatem necessitatibus dicta pariatur libero, beatae minus odio sit? Alias mollitia beatae inventore minima aliquid neque consectetur soluta, doloremque dolore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolorum voluptatem necessitatibus dicta pariatur libero, beatae minus odio sit? Alias mollitia beatae inventore minima aliquid neque consectetur soluta, doloremque dolore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolorum voluptatem necessitatibus dicta pariatur libero, beatae minus odio sit? Alias mollitia beatae inventore minima aliquid neque consectetur soluta, doloremque dolore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolorum voluptatem necessitatibus dicta pariatur libero, beatae minus odio sit? Alias mollitia beatae inventore minima aliquid neque consectetur soluta, doloremque dolore!</p>
</div>

        {% endblock %}