{% extends "layout.html" %}

{% block content %}

<div class="index-content">
    <div class="title-of-page"><p>{{ title }}</p></div>


    <div class="container-fluid">

        <div class="offset-md-4 col-md-4 offset-sm-3 col-sm-6">
            <div class="form-container">
                <form class="form-horizontal">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Имя/Никнейм">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Пароль">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="checkbox">
                        <span class="check-label">I agree to the <a href="">Terms</a> and <a href="">Privacy Policy.</a></span>
                    </div>
                    <button class="btn signup">Регистрация</button>
                    <button class="btn signin">Вход</button>
                </form>
            </div>
        </div>

    </div>

</div>

        {% endblock %}